<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="index.html" class="header__logo">
        <img src="/assets/icons/logo.png" alt="Logo" />
        <span class="logo-text">
          <span class="logo-text__ol"></span
          ><span class="logo-text__serwis">Win-Forge</span>
        </span>
      </a>

      <nav class="header__nav">
        <ul class="header__links">
          <li><a href="/index.html" class="active">Home</a></li>
          <li><a href="/game.html">Game</a></li>
          <li><a href="/policy.html">Privacy Policy</a></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <img src="/assets/icons/menu.png" alt="Menu" />
      </div>
    </div>
  </div>

  <!-- Меню Overlay -->
  <div class="menu-overlay">
    <div class="menu">
      <div class="menu__close">
        <img src="/assets/icons/close.png" alt="Close Menu" />
      </div>
      <a href="index.html" class="header__logo">
        <img src="/assets/icons/logo.png" alt="Logo" />
        <span class="logo-text">
          <span class="logo-text__ol"></span
          ><span class="logo-text__serwis">Win-Forge</span>
        </span>
      </a>
      <ul class="menu__links">
        <li><a href="/index.html" class="active">Home</a></li>
          <li><a href="/game.html">Game</a></li>
          <li><a href="/policy.html">Privacy Policy</a></li>
      </ul>
      <div class="menu__contacts">
        <div class="menu__email">
          <img src="/assets/icons/email.png" alt="Email" />
          <p>
            <a href="mailto:info@game-flux.com"
              >info@Win-Forge.com</a
            >
          </p>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Волнистый PNG Фон -->
  <div class="wave-overlay"></div>
</header>
